# Ignore env containing secrets
.env
.venv

# Ignore Virtual Env
env/
venv/
.venv/

# Other Environments
ENV/
env.bak/
venv.bak/

# Ignore generated outputs
outputs/
*.lock
dist/
src.egg-info/

# Ignore pycache
**/__pycache__/

# Ignore editor configs
.vscode/
pyrightconfig.json

# Log files
logs/
*.orig
*.log
server_log.txt

# Personal
personal_experiment/